/*** Inventory ***/
/* .pageFrameView .inventoryContent a {
    color: var(--mhdm-text-link);
}

.pageFrameView .itemImage .quantity {
    color: var(--mhdm-dark5);
}

.pageFrameView .inventoryPage-item {
    color: var(--mhdm-text-normal);
}

.pageFrameView .inventoryPage-tagContent-tagTitle {
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-item-margin,
.pageFrameView .inventoryPage-item.small .inventoryPage-item-margin {
    border-color: var(--mhdm-tertiaryDark);
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .inventoryPage-item-name {
    border-color: var(--mhdm-tertiaryDark);
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .inventoryPage-tagDirectory {
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-tagDirectory-tag {
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .inventoryPage-item-recipeOptions li {
    border-color: var(--mhdm-tertiaryDark);
    background-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-item-recipeOptions li.inactive {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-muted);
    border-color: transparent;
}

.pageFrameView .inventoryPage-item-recipeOptions li.selected {
    color: var(--mhdm-text-muted);
}

.pageFrameView .inventoryPage-item-recipeOptions li:hover {
    background-color: inherit;
}

.pageFrameView .inventoryPage-item-content-description-gameTasks {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-item.component .inventoryPage-item-imageContainer .itemImage {
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-item-larryLexicon {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .itemViewStatBlock {
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .itemViewStatBlock-stat-label {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .itemViewStatBlock-stat-value {
    background-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .itemViewStatBlock-stat {
    border-color: var(--mhdm-tertiaryDark);
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .itemViewStatBlock-stat-helper {
    background-color: var(--mhdm-dark4);
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-item.small .tooltip {
    background-color: var(--mhdm-dark4);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-item.small .tooltip .arrow {
    border-color: var(--mhdm-tertiaryDark) transparent transparent transparent;
}

.pageFrameView .inventoryPage-item.small .tooltip .arrow span {
    border-color: var(--mhdm-dark4) transparent transparent transparent;
}

.pageFrameView .mousehuntHud-page-subTabContent.trinket .mousehuntHud-page-subTabContent-prefix {
    background-color: var(--mhdm-mainDark);
    box-shadow: none;
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .mousehuntHud-page-subTabContent-prefix-title {
    color: var(--mhdm-text-normal);
    text-shadow: none;
}

.pageFrameView .campPage-trap-itemBrowser-itemDescriptionHover {
    background-color: var(--mhdm-dark4);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .campPage-trap-itemBrowser-itemDescriptionHover.mousehuntTooltip.left .mousehuntTooltip-arrow {
    border-color: transparent transparent transparent var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-item-name a abbr {
    text-decoration: none;
}

/*** Crafting ***/
/* .pageFrameView #overlayBg.crafting .suffix,
.pageFrameView #overlayBg.crafting .content {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView #overlayBg.crafting .title {
    color: var(--mhdm-text-normal);
}

.pageFrameView #overlayBg.crafting .img .name {
    color: var(--mhdm-text-normal);
}

.pageFrameView #overlayBg.crafting .img .description {
    color: var(--mhdm-text-muted);
}

.pageFrameView .mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
    color: var(--mhdm-text-normal);
}

.pageFrameView .mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent-margin {
    background-color: var(--mhdm-dark4);
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
}

.pageFrameView .inventoryPage-item.recipe.disabled {
    background-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .mousehuntHud-page-subTabContent.crafting_table .inventoryPage-craftingTable {
    background-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
}

.pageFrameView .inventoryPage-craftingTable-title {
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .inventoryPage-craftingTable-slot-item.empty .inventoryPage-craftingTable-slot-item-name {
    color: var(--mhdm-text-normal);
}

.pageFrameView .inventoryPage-craftingTable-slot-item-remove,
.pageFrameView .inventoryPage-craftingTable-slot-item .itemImage {
    box-shadow: none;
}

.pageFrameView .inventoryPage-craftingTable-action {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
} */

/*** Detailed Item View ***/
.pageFrameView .itemViewContainer {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .itemView-header {
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .itemView-character-name {
    color: var(--mhdm-text-normal);
    text-shadow: none;
}

.pageFrameView .itemView-padding {
    background-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .itemView-loading {
    background-image: none;
    background-color: rgb(0, 0, 0, 0.3);
    box-shadow: none;
}

.pageFrameView .itemViewContainer a {
    color: var(--mhdm-text-link);
}

.pageFrameView a.itemView-sidebar-checklistItem.checked:hover {
    background-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .itemViewContainer .mousehuntActionButton {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pageFrameView #overlayPopup.itemViewPopup .suffix {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView #overlayPopup.itemViewPopup .button {
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .itemViewContainer .itemView-obtainHint {
    border-color: var(--mhdm-tertiaryDark);
}