:root {
    --mhdm-white: #ebebeb;
    --mhdm-black: #0c0c0c;
    --mhdm-xlgray: #e4e4e4;
    --mhdm-lgray: #c8c8c8;
    --mhdm-dgray: #9b9b9b;
    --mhdm-darkest: #0f0f0f;
    --mhdm-mainDark: #1a1a1a;
    --mhdm-secondaryDark: #242424;
    --mhdm-tertiaryDark: #2e2e2e;
    --mhdm-dark4: #333333;
    --mhdm-dark5: #424242;
    --mhdm-dark6: #888888;
    --mhdm-dark7: #a0a0a0;

    --mhdm-blue: #009adf;
    --mhdm-yellow: #9c8418;
    --mhdm-yellow-self: #e6b963;
    --mhdm-dbrown: #2e2a1f;

    --mhdm-brown: #e2d6b5;
    --mhdm-lbrown: #f4eee1;
    --mhdm-xlbrown: #f6f3eb;

    --mhdm-dimming-filter: rgba(0, 0, 0, 0.1);
    --mhdm-dimming-filter2: rgba(0, 0, 0, 0.05);
    --mhdm-dimming-filter-max: rgba(0, 0, 0, 0.5);
    --mhdm-journal-bg: #f5f5f5;

    --mhdm-default-black: #000;
    --mhdm-default-grey: #333;
    --mhdm-default-white: #fff;

    --mhdm-loader-brightness: 0.2;

    --mhdm-text-normal: #dcddde;
    --mhdm-text-muted: #a3a6aa;
    --mhdm-text-link: var(--mhdm-blue);
    --mhdm-text-positive: hsl(139, 51.6%, 52.2%);
    --mhdm-text-danger: hsl(359, 82%, 73.9%);
}

/*SCROLL BAR FOR NON BODY ELEMENTS*/
body .pageFrameView *::-webkit-scrollbar {
    width: 6px;
}

body .pageFrameView *::-webkit-scrollbar-track {
    background: #c5c5c5;
}

body .pageFrameView *::-webkit-scrollbar-thumb {
    background: #808080;
}

body .pageFrameView *::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a;
}

/* Container */
.pageFrameView .pageFrameView-content {
    background: var(--mhdm-lbrown);
}

.pageFrameView .pageFrameView-contentContainer {
    background: var(--mhdm-secondaryDark);
}

.pageFrameView .pageFrameView-column.left {
    background-image: none;
    background: var(--mhdm-mainDark);
    border-right-color: var(--mhdm-secondaryDark);
}

.pageFrameView .pageFrameView-column.right {
    background-image: none;
    background: var(--mhdm-mainDark);
    border-left-color: var(--mhdm-secondaryDark);
}

.pageFrameView .pageFrameView-column {
    position: relative
}

.pageFrameView .pageFrameView-column::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--mhdm-dimming-filter-max);
    pointer-events: none;
    z-index: 96;
}

/* Header */

.pageFrameView .mousehuntHeaderView {
    background: var(--mhdm-mainDark);
}

.pageFrameView .mousehuntHeaderView-gameTabs {
    background: var(--mhdm-mainDark);
    border-color: rgb(102, 102, 102);
}

.pageFrameView .mousehuntHeaderView .menuItem {
    background: var(--mhdm-secondaryDark);
    color: var(--mhdm-white);
    border-color: rgb(102, 102, 102);
}

.pageFrameView .mousehuntHeaderView-newsTicker {
    background: var(--mhdm-secondaryDark);
    color: var(--mhdm-white);
    border-color: rgb(102, 102, 102);
}

.pageFrameView .mousehuntHeaderView-newsTicker .label {
    color: var(--mhdm-blue)
}

.pageFrameView .mousehuntHeaderView-newsTicker a {
    color: var(--mhdm-blue)
}

.pageFrameView .mousehuntHud-gameInfo {
    background: var(--mhdm-secondaryDark);
    border-right: 1px solid var(--mhdm-white);
    border-color: rgb(102, 102, 102);
    padding-bottom: 3px;
}

.pageFrameView .mousehuntHud-gameInfo span {
    color: var(--mhdm-white)
}

.pageFrameView .mousehuntHud-gameInfo a {
    color: var(--mhdm-blue)
}

/* Sidebar */
.pageFrameView .pageSidebarView {
    background: var(--mhdm-secondaryDark);
}

.pageFrameView .pageSidebarView-block {
    background: var(--mhdm-secondaryDark);
    color: var(--mhdm-white);
}

.pageFrameView .pageSidebarView-block a {
    color: var(--mhdm-blue);
}

.pageFrameView .pageSidebarView .fb-page {
    background: transparent;
}

.pageFrameView .pageSidebarView-user {
    color: var(--mhdm-white);
    border: 0;
}

.pageFrameView .pageSidebarView-user a {
    color: var(--mhdm-blue);
}

/* Sidebar Scoreboard */

.pageFrameView .scoreboardRelativeRankingTableView-table {
    border: 0;
}

.pageFrameView .scoreboardRelativeRankingTableView-table .highlight td:last-child,
.pageFrameView .scoreboardRelativeRankingTableView-table .highlight td:first-child {
    color: var(--mhdm-black)
}


/* inventory */

.mousehuntPage-content[data-page='PageInventory'] .mousehuntHud-page-subTabHeader-container {
    padding: 0 10px;
}

.mousehuntPage-content[data-page='PageInventory'] .inventoryPage-item-name {
    background: var(--mhdm-xlgray)
}

.mousehuntPage-content[data-page='PageInventory'] .inventoryPage-tagDirectory-tag {
    background: var(--mhdm-xlgray)
}

.mousehuntPage-content[data-page='PageInventory'] .inventoryPage-tagDirectory-tag.active {
    background: var(--mhdm-dgray)
}

.mousehuntHud-page-tabContent.crafting .mousehuntHud-page-subTabContent-margin {
    background: var(--mhdm-lbrown) !important;
    border: 0;
    box-shadow: none;
}

/* Overlay Modal */

.pageFrameView #overlayContainer {
    padding-top: 0px;
}

.pageFrameView #overlayBg {
    background-image: none;
    background: rgba(0, 0, 0, 0.8);
}

.pageFrameView #overlayContainer #overlayBg {
    /* position: relative; */
}

.pageFrameView #overlayContainer #overlayBg::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--mhdm-dimming-filter2);
    pointer-events: none;
    z-index: 96;
}

/* shop */

.pageFrameView .mousehuntHud-page-subTabContent.active {
    overflow: hidden;
}

.pageFrameView .MHCheckoutRootView-pageContainer {
    background: var(--mhdm-lbrown)
}

.pageFrameView .MHCheckoutRootView-footer {
    background: var(--mhdm-lbrown)
}

.pageFrameView #overlayPopup .jsDialogContainer .suffix {
    background: var(--mhdm-brown)
}

/* mice list */

.pageFrameView .mouseListView-categoryContent-category {
    background: var(--mhdm-lbrown)
}

.pageFrameView .mouseListView-categoryContent:before {
    display: none;
}