/* marketplace */

.pageFrameView .marketplaceView .marketplaceContentContainer {
    background: var(--mhdm-lbrown)
}

/* .pageFrameView .marketplaceView .marketplaceContentContainer .marketplaceHome-block-carousel *,
.pageFrameView .marketplaceView .marketplaceContentContainer .marketplaceHome-block.favourites * {
    color: var(--mhdm-white)
}

.pageFrameView .marketplaceView .marketplaceHome-blockMenu:not(.active) {
    color: var(--mhdm-dgray)
} */

.marketplaceView-header-tabHeader.active {
    background: var(--mhdm-lbrown)
}

.marketplaceView-header-tabHeader:not(.active) {
    background: var(--mhdm-dgray);
    color: var(--mhdm-black)
}

/* XELLIS DARK MODE */


.pageFrameView .marketplaceView-header-tabHeader {
    background-color: var(--mhdm-dark4);
    color: var(--mhdm-text-normal);
}


.pageFrameView .marketplaceView-header-tabHeader:hover,

.pageFrameView .marketplaceView-header-tabHeader.active {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
}


.pageFrameView .marketplaceView .marketplaceContentContainer {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
}


.pageFrameView .marketplaceView .marketplaceContentContainer a {
    color: var(--mhdm-text-link);
}

.pageFrameView .marketplaceHome-blockItem-value {
    color: var(--mhdm-text-muted);
}

.pageFrameView .marketplaceHome-blockItem {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView h1 {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView label {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView .mousehuntActionButton {
    box-shadow: none;
}

.pageFrameView .marketplaceView-trendContainer {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .marketplaceView-item-graphTable .marketplaceView-trendContainer {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView-breadcrumb,
.pageFrameView .marketplaceHome-block-viewAll,
.pageFrameView .marketplaceHome-block-carousel .marketplaceHome-block-viewAll,
.pageFrameView .marketplaceView-moreLink {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceHome-block-viewAll:hover,
.pageFrameView .marketplaceView-moreLink:hover,
.pageFrameView .marketplaceView-breadcrumb:hover {
    background: var(--mhdm-tertiaryDark);
}

.pageFrameView .marketplaceView-table tr:nth-child(odd) {
    background-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
}

/* .pageFrameView .marketplaceView-table-numeric,
.pageFrameView .marketplace-sidebar-tsitu {
    text-shadow: -1px -1px 0 var(--mhdm-secondaryDark),
        1px -1px 0 var(--mhdm-secondaryDark),
        -1px 1px 0 var(--mhdm-secondaryDark),
        1px 1px 0 var(--mhdm-secondaryDark);
}

.pageFrameView .marketplaceView-table tr:nth-child(odd) .marketplaceView-table-numeric {
    text-shadow: -1px -1px 0 var(--mhdm-mainDark),
        1px -1px 0 var(--mhdm-mainDark),
        -1px 1px 0 var(--mhdm-mainDark),
        1px 1px 0 var(--mhdm-mainDark);
} */

.pageFrameView .marketplaceView-table tr:hover {
    background-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .marketplaceView-table-filterReminder,
.pageFrameView .marketplaceView-table-empty {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .marketplaceView-cell-progressBar,
.pageFrameView .marketplaceView-floatingTooltip {
    color: var(--mhdm-default-grey);
}

.pageFrameView .marketplaceView-item-footer .marketplaceView-table {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .marketplaceView-item-quickListings th {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView-table tr.empty {
    background-color: var(--mhdm-secondaryDark) !important;
}

.pageFrameView .marketplaceView-browse-sidebar-link {
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .mousehuntCharacterGuideBox-content {
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .PageMarketplaceLegacy {
    color: var(--mhdm-text-normal);
}

.pageFrameView .PageMarketplaceLegacy h1 {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceLegacyPage-table {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceLegacyPage-table th {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .marketplaceLegacyPage-table a {
    color: var(--mhdm-text-link);
}

.pageFrameView .marketplaceLegacyPage-table tr:nth-child(odd) {
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .marketplaceView tr.locked .marketplaceView-table-name {
    color: #000;
}