.PageHunterProfile .pageFrameView .pageFrameView-content {
    background: var(--mhdm-dark5);
}

/** Tabs **/
.PageHunterProfile .pageFrameView .mousehuntPage-content input[type='text'],
.PageHunterProfile .pageFrameView .mousehuntPage-content input[type='password'],
.PageHunterProfile .pageFrameView .mousehuntPage-content select,
.PageHunterProfile .pageFrameView .mousehuntPage-content textarea {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mousehuntHud-page-subTabHeader-container {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mousehuntHud-page-subTabHeader span {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .mousehuntHud-page-subTabHeader.active span,
.PageHunterProfile .pageFrameView .mousehuntHud-page-subTabHeader:hover span {
    background-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .mousehuntHud-page-tabHeader span {
    background-color: var(--mhdm-secondaryDark);
    box-shadow: none;
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mousehuntHud-page-tabHeader.active span,
.PageHunterProfile .pageFrameView .mousehuntHud-page-tabHeader:hover span {
    border-color: var(--mhdm-dark5);
    background-color: var(--mhdm-dark5);
}

.PageHunterProfile .pageFrameView .mousehuntHud-page-subTabHeader-container .mousehuntHud-page-subTabHeader:last-child span {
    border-right-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .mousehuntHud-page-subTabHeader.empty span,
.PageHunterProfile .pageFrameView .mousehuntHud-page-subTabHeader.empty:hover span {
    background-color: var(--mhdm-secondaryDark);
    box-shadow: none;
}

.PageHunterProfile .mousehuntHud-page-subTabHeader-container {
    padding-left: 10px;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-left a {
    color: var(--mhdm-text-link);
}

/* Messages */
.PageHunterProfile .pageFrameView .messageBoardView-message {
    background-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .messageBoardView-message.new {
    border-color: var(--mhdm-tertiaryDark) !important;
}

.PageHunterProfile .pageFrameView .messageBoardView-message-description {
    color: var(--mhdm-text-muted);
}

/* Content */
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .messageBoardView-title {
    color: var(--mhdm-text-muted);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-weapon {
    background-color: var(--mhdm-secondaryDark);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-title-container {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-container {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-title {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-header-container,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-container,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-setup-items,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer-stats,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-trapBlock-footer {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    background-image: none;
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .PageHunterProfile .friendsPage-friendRow {
    color: var(--mhdm-text-normal);
    background-image: none;
}

.PageHunterProfile .pageFrameView .PageHunterProfile .friendsProfileView-container {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-hunterId {
    background-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterInfoView-hunterId-copyConfirmText {
    color: var(--mhdm-text-link);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats .hunterInfoView-idCardBlock-stats-item-desc {
    color: var(--mhdm-text-muted);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container::before,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-teamInfo-container .teamEmblemView,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-huntingSince,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-stats-horn-container {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .hunterInfoView-idCardBlock-teamInfo span {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .PageHunterProfile .friendsPage-friendRow-statsContainer {
    box-shadow: none;
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-idCardBlock-goldenShield-text {
    color: var(--mhdm-default-grey);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-favoritesBlock {
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-header {
    background-image: none;
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-content-mouseLabel {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-favoritesBlock-body {
    background-image: none;
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .mousehuntTabHeader span {
    background-color: var(--mhdm-dark4);
    border-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
    box-shadow: none;
    text-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader::before,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .mousehuntTabHeader::before,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .mousehuntTabHeader.active span,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabHeader:hover span {
    background-color: var(--mhdm-mainDark);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-achievementsBlock .mousehuntTabContentContainer {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-achievementsBlock .mousehuntTabContentContainer-padding {
    background-color: var(--mhdm-tertiaryDark);
    border-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound-label,
.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .hunterInfoView-treasureMaps-right-cluesFound {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterInfoView-wrapper .journalEntries {
    background-color: var(--mhdm-default-white);
}

/* Crowns */
.PageHunterProfile .pageFrameView .mouseCrownsView-group {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseCrownsView-group-header-subtitle {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse.highlight .mouseCrownsView-group-mouse-name,
.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse:not(.favourite) .mouseCrownsView-group-mouse-name {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseCrownsView-group-mouse:hover .mouseCrownsView-group-mouse-padding {
    background-color: var(--mhdm-mainDark);
}

/* Profile Items */
.PageHunterProfile .pageFrameView .hunterProfileItemsView-category {
    filter: invert(1);
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-category>div {
    color: var(--mhdm-text-link);
    filter: invert(1);
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-category.active {
    filter: none;
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-category.active>div {
    color: var(--mhdm-text-normal);
    filter: none;
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-categoryContent-name {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-content-padding {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-content-padding a {
    color: var(--mhdm-text-link);
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-categoryContent-item-padding {
    border-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-categoryContent-item.uncollected .hunterProfileItemsView-categoryContent-item-padding {
    color: var(--mhdm-text-muted);
    background-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .hunterProfileItemsView-filter:hover {
    background-color: var(--mhdm-tertiaryDark);
}

/* Mice */
.PageHunterProfile .pageFrameView .mouseViewPopup .content {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseViewPopup .mouseView-title {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseViewPopup .mouseView-statsContainer-block {
    background-color: var(--mhdm-mainDark);
}

.PageHunterProfile .pageFrameView .mouseView-categoryContent-subgroup-mouse-weaknesses-label {
    border-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .mouseViewPopup a {
    color: var(--link-text);
}

.PageHunterProfile .pageFrameView #overlayPopup.mouseViewPopup .suffix {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .mouseViewPopup .mouseView-image {
    background-color: var(--mhdm-tertiaryDark);
}


.PageHunterProfile .pageFrameView .mouseListView-category {
    filter: invert(1);
}

.PageHunterProfile .pageFrameView .mouseListView-category>div {
    color: var(--mhdm-text-link);
    filter: invert(1);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContainer.active .mouseListView-category {
    filter: none;
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContainer.active .mouseListView-category>div {
    color: var(--mhdm-text-normal);
    filter: none;
}

.PageHunterProfile .pageFrameView .mouseListView-subcategory {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-link);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-category {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-category a {
    color: var(--mhdm-text-link);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-subgroup-name {
    background-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-name {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .adversariesPage-list-header {
    background-color: var(--mhdm-secondaryDark);
    box-shadow: none;
}

.PageHunterProfile .pageFrameView .adversariesPage-list-header label {
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-weaknessesContainer {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-subgroup-mouse.stats.header {
    background-color: var(--mhdm-tertiaryDark) !important;
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-subgroup-mouse.stats:nth-child(odd) {
    background-color: var(--mhdm-mainDark);
}

.PageHunterProfile .pageFrameView .mouseListView-categoryContent-filter-option {
    background-color: var(--mhdm-mainDark);
}

.PageHunterProfile .pageFrameView .personal_info,
.PageHunterProfile .pageFrameView .game_settings {
    color: var(--mhdm-text-normal);
}

/* Pagination */
.PageHunterProfile .pageFrameView .pagerView-container {
    background-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageHunterProfile .pageFrameView .pagerView-section.previous .pagerView-link,
.PageHunterProfile .pageFrameView .pagerView-section.next .pagerView-link {
    color: var(--mhdm-text-muted);
    border-color: var(--mhdm-tertiaryDark);
}

.PageHunterProfile .pageFrameView .pagerView-section.previous.active .pagerView-link,
.PageHunterProfile .pageFrameView .pagerView-section.next.active .pagerView-link {
    color: var(--mhdm-text-link);
    border-color: var(--mhdm-tertiaryDark);
}

/* Profile trap */
.pageFrameView #mousehuntContainer.PageHunterProfile .trapImageView {
    background: linear-gradient(180deg, rgb(218 218 218) 0%, rgb(160 160 160 / 100%) 25%, rgb(136 136 136 / 100%) 65%, rgb(66 66 66) 95%) !important;
    border: 2px solid var(--mhdm-dark6);
    box-shadow: none !important;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap {
    border: 0;
    box-shadow: none;
    background: var(--mhdm-dark4);
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-armedItem.bait {
    background: var(--mhdm-dark5);
    border: 1px solid var(--mhdm-dark6);
    box-shadow: none;
    width: 312px;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-baitLabel {
    color: var(--mhdm-brown);

}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-baitDetails {
    color: var(--mhdm-white);
    text-shadow: none;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-armedItem.skin {
    background: var(--mhdm-dark5);
    border: 1px solid var(--mhdm-dark6);
    box-shadow: none;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-armedItem.skin .campPage-trap-armedItem-image {
    background: var(--mhdm-dark5);
    border: 1px solid var(--mhdm-dark6);
    box-shadow: none;
    color: var(--mhdm-white);
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-armedItem-skin-description {
    background: var(--mhdm-dark5);
    border: 0;
    box-shadow: none;
    color: var(--mhdm-brown);
    height: 35px;
    width: 195px;
    margin-top: 5px;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-armedItem-skin-description-content b {
    color: var(--mhdm-white);
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-statsContainer {
    border: 0;
    box-shadow: none;
    background: var(--mhdm-dark5);
    padding: 4px;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-itemStats {
    background: var(--mhdm-tertiaryDark);
    border: 0;
    box-shadow: none;
    margin-bottom: 4px;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-itemStats .campPage-trap-trapStat .value {
    background: var(--mhdm-dark5);
    color: var(--mhdm-white);
    border: 0;
    box-shadow: none;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-itemStats .campPage-trap-trapStat .value b {
    color: var(--mhdm-brown);
    margin-top: 5px;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-trapEffectiveness {
    background: var(--mhdm-tertiaryDark);
    color: var(--mhdm-white);
    border: 0;
    box-shadow: none;
}

.pageFrameView #mousehuntContainer.PageHunterProfile .campPage-trap-trapEffectiveness span {
    color: var(--mhdm-brown);
}
