/* Premium shop */
.pageFrameView .MHCheckoutRootView-pageContainer {
    background: var(--mhdm-lbrown)
}

.pageFrameView .MHCheckoutRootView-footer {
    background: var(--mhdm-lbrown)
}

.pageFrameView .MHCheckoutReviewCartPageView-stepProgress {
    color: var(--mhdm-default-black)
}

/* Main Shop */
.PageShops .pageFrameView .pageFrameView-content {
    background: var(--mhdm-dark5);
}

.PageShops .pageFrameView .mousehuntPage-content input[type='text'],
.PageShops .pageFrameView .mousehuntPage-content input[type='password'],
.PageShops .pageFrameView .mousehuntPage-content select,
.PageShops .pageFrameView .mousehuntPage-content textarea {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageShops .pageFrameView .mousehuntHud-page-subTabHeader-container {
    color: var(--mhdm-text-normal);
}

.PageShops .pageFrameView .mousehuntHud-page-subTabHeader span {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
    box-shadow: none;
}

.PageShops .pageFrameView .mousehuntHud-page-subTabHeader.active span,
.PageShops .pageFrameView .mousehuntHud-page-subTabHeader:hover span {
    background-color: var(--mhdm-tertiaryDark);
}

.PageShops .pageFrameView .mousehuntHud-page-tabHeader span {
    background-color: var(--mhdm-secondaryDark);
    box-shadow: none;
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.PageShops .pageFrameView .mousehuntHud-page-tabHeader.active span,
.PageShops .pageFrameView .mousehuntHud-page-tabHeader:hover span {
    border-color: var(--mhdm-dark5);
    background-color: var(--mhdm-dark5);
}

.PageShops .pageFrameView .mousehuntHud-page-subTabHeader-container .mousehuntHud-page-subTabHeader:last-child span {
    border-right-color: var(--mhdm-tertiaryDark);
}

.PageShops .pageFrameView .mousehuntHud-page-subTabHeader.empty span,
.PageShops .pageFrameView .mousehuntHud-page-subTabHeader.empty:hover span {
    background-color: var(--mhdm-secondaryDark);
    box-shadow: none;
}

.PageShops .mousehuntHud-page-subTabHeader-container {
    padding-left: 10px;
}

.PageShops .pageFrameView .hunterInfoView-wrapper .hunterInfoView-left a {
    color: var(--mhdm-text-link);
}

/* Shop Content */
.pageFrameView .mousehuntHud-page-tabContent.hasShop {
    padding: 0 10px;
}

.pageFrameView .mousehuntHud-page-tabContent.hasShop a {
    color: var(--mhdm-text-link);
}

.pageFrameView .itemPurchaseView-action-container {
    background-color: var(--mhdm-tertiaryDark);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .shopsPage-compareEquipment {
    background-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .shopsPage-header-container {
    background-color: var(--mhdm-tertiaryDark);
    box-shadow: none;
    color: var(--mhdm-text-normal);
}

.pageFrameView .itemPurchaseView-container {
    background-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .itemPurchaseView-action-itemCost-table {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .itemPurchaseView-container.kingsCartItem .itemPurchaseView-action-container {
    box-shadow: -1px 2px 18px var(--mhdm-mainDark) inset;
}

.pageFrameView .itemPurchaseView-action-itemCost-table-cell.owned {
    color: var(--mhdm-text-muted);
}

.pageFrameView .itemPurchaseView-container.kingsCartItem .itemPurchaseView-content-details::after {
    display: none;
}

.pageFrameView .itemPurchaseView-container.kingsCartItem:not(.expanded) .itemPurchaseView-content-details {
    mask-image: linear-gradient(to bottom, var(--mhdm-default-black) 60%, transparent 100%);
    height: 70px;
}

.pageFrameView .shopsPage-empty {
    color: var(--mhdm-text-normal);
}

.pageFrameView .itemViewStatBlock {
    margin-top: 5px;
    border: 1px solid var(--mhdm-dark5);
}

.pageFrameView .itemViewStatBlock .itemViewStatBlock-stat-label {
    background: var(--mhdm-dark4);
}

.pageFrameView .itemViewStatBlock .itemViewStatBlock-stat-value {
    background: var(--mhdm-secondaryDark);
}

.pageFrameView .itemViewStatBlock .itemViewStatBlock-stat-value span {
    color: var(--mhdm-text-normal);
}

/* Events - Halloween */
.apothecary .itemPurchaseView-content-container {
    color: var(--mhdm-default-grey);
}

/* Marketplace */
.marketplaceView-header-tabHeader.active {
    background: var(--mhdm-lbrown)
}

.marketplaceView-header-tabHeader:not(.active) {
    background: var(--mhdm-dgray);
    color: var(--mhdm-black)
}

.pageFrameView .marketplaceView-header-tabHeader {
    background-color: var(--mhdm-dark4);
    color: var(--mhdm-text-normal);
}


.pageFrameView .marketplaceView-header-tabHeader:hover,
.pageFrameView .marketplaceView-header-tabHeader.active {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView .marketplaceContentContainer {
    background-color: var(--mhdm-secondaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView .marketplaceContentContainer a {
    color: var(--mhdm-text-link);
}

.pageFrameView .marketplaceHome-blockItem-value {
    color: var(--mhdm-text-muted);
}

.pageFrameView .marketplaceHome-blockItem {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView h1 {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView label {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView .mousehuntActionButton {
    box-shadow: none;
}

.pageFrameView .marketplaceView-trendContainer {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .marketplaceView-item-graphTable .marketplaceView-trendContainer {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView-breadcrumb,
.pageFrameView .marketplaceHome-block-viewAll,
.pageFrameView .marketplaceHome-block-carousel .marketplaceHome-block-viewAll,
.pageFrameView .marketplaceView-moreLink {
    background-color: var(--mhdm-mainDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceHome-block-viewAll:hover,
.pageFrameView .marketplaceView-moreLink:hover,
.pageFrameView .marketplaceView-breadcrumb:hover {
    background: var(--mhdm-tertiaryDark);
}

.pageFrameView .marketplaceView-table tr:nth-child(odd) {
    background-color: var(--mhdm-mainDark) !important;
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView-table tr:nth-child(even) {
    background-color: var(--mhdm-secondaryDark) !important;
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView-table tr:hover {
    background-color: var(--mhdm-tertiaryDark);
}

.pageFrameView .marketplaceView-table-filterReminder,
.pageFrameView .marketplaceView-table-empty {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .marketplaceView-cell-progressBar,
.pageFrameView .marketplaceView-floatingTooltip {
    color: var(--mhdm-default-grey);
}

.pageFrameView .marketplaceView-item-footer .marketplaceView-table {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .marketplaceView-item-quickListings th {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceView-table tr.empty {
    background-color: var(--mhdm-secondaryDark) !important;
}

.pageFrameView .marketplaceView-browse-sidebar-link {
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .mousehuntCharacterGuideBox-content {
    background-color: var(--mhdm-mainDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .PageMarketplaceLegacy {
    color: var(--mhdm-text-normal);
}

.pageFrameView .PageMarketplaceLegacy h1 {
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceLegacyPage-table {
    background-color: var(--mhdm-secondaryDark);
    border-color: var(--mhdm-tertiaryDark);
    color: var(--mhdm-text-normal);
}

.pageFrameView .marketplaceLegacyPage-table th {
    background-color: var(--mhdm-secondaryDark);
}

.pageFrameView .marketplaceLegacyPage-table a {
    color: var(--mhdm-text-link);
}

.pageFrameView .marketplaceLegacyPage-table tr:nth-child(odd) {
    background-color: var(--mhdm-mainDark);
}

.pageFrameView .marketplaceView .MHCheckout-goldenShield-tiny>div {
    color: var(--mhdm-default-black);

}

/* Mod support */
.pageFrameView .marketplace-sidebar-tsitu span {
    background-color: none !important;
}
