body {
    background: #1a1a1a;
    color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

h3,
h4 {
    width: 100%;
    text-align: center;
}

.wrapper {
    width: 100px;
    height: 150px;
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

button.apply {
    display: none;

    height: 30px;
    width: 100%;
    outline: none;
    margin: 5px 0 0 0;
    border: none;
    border-radius: 2px;

    cursor: pointer;
    background: #242424;
    color: #f1f1f1;
}

.msg {
    width: 100%;
    text-align: center;
    color: #f1f1f1;
    font-size: 0.8rem;
    margin-top: 10px;
}

.ver {
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 0.6rem;
    margin-top: 10px;
}

button.current {
    box-shadow: 0 0 0 2px white,
        0 0 0 4px black;
}