.pageFrameView #mousehuntContainer.PageCamp .gameHeader::before {
    /* dimming filter on game HUD */
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--mhdm-dimming-filter);
    pointer-events: none;
    z-index: 1;
}