/* Mobile / simple camp */
.MobilePageCamp .pageFrameView .pageFrameView-content {
    background: var(--mhdm-dark5);
}

.MobilePageCamp .pageFrameView .headerText,
.MobilePageCamp .pageFrameView #mobileCountdown {
    color: var(--mhdm-white);
}

.MobilePageCamp .pageFrameView .headerText .switch a,
.MobilePageCamp .pageFrameView .mobileLinks a {
    color: var(--mhdm-blue);
}

/* Normal camp page */
.pageFrameView #mousehuntContainer.PageCamp,
.pageFrameView #mousehuntContainer.PageJournal {
    background: var(--mhdm-dark5);
}

.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabContentContainer {
    background: var(--mhdm-tertiaryDark);
    border: 0;
    box-shadow: none;
    position: relative;
}

.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabContent[data-tab="journal"] {
    background: transparent;
}

.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabHeader span {
    background: var(--mhdm-dark4);
    color: var(--mhdm-white);
    border: none;
    box-shadow: none;
    opacity: 0.9;
}

.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabHeader.active span {
    background: var(--mhdm-tertiaryDark);
    opacity: 1;
}

.pageFrameView #mousehuntContainer.PageCamp .journal-detailLinkContainer * {
    color: var(--mhdm-blue);
}

/* Journal */
.pageFrameView #mousehuntContainer.PageCamp .journal {
    position: relative
}

.pageFrameView #mousehuntContainer.PageCamp .journal .content .journalbody .journaltext,
.pageFrameView #mousehuntContainer.PageJournal .journal .content .journalbody .journaltext,
.pageFrameView #mousehuntContainer.PageCamp .journal .content .journalbody .journaldate,
.pageFrameView #mousehuntContainer.PageJournal .journal .content .journalbody .journaldate {
    color: var(--mhdm-black);
}

/* Fix transparent journal content bg for some themes with white child elements. */
.pageFrameView #mousehuntContainer.PageCamp .journal .content .journalEntries,
.pageFrameView #mousehuntContainer.PageJournal .journal .content .journalEntries {
    background: var(--mhdm-dark7);
}

.pageFrameView #mousehuntContainer.PageCamp .journal a,
.pageFrameView #mousehuntContainer.PageJournal .journal a {
    color: var(--mhdm-default-blue);
}
