/* mobile / simple camp */

.MobilePageCamp .pageFrameView .pageFrameView-content {
    background: var(--mhdm-dark5);
}

.MobilePageCamp .pageFrameView .headerText,
.MobilePageCamp .pageFrameView #mobileCountdown {
    color: var(--mhdm-white);
}

.MobilePageCamp .pageFrameView .headerText .switch a,
.MobilePageCamp .pageFrameView .mobileLinks a {
    color: var(--mhdm-blue);
}



/* normal camp page */

.pageFrameView #mousehuntContainer.PageCamp,
.pageFrameView #mousehuntContainer.PageJournal {
    background: var(--mhdm-dark5);
}

/* .pageFrameView #mousehuntContainer.PageCamp .mousehuntHud-marbleDrawer {
    background: url(https://www.mousehuntgame.com/images/ui/hud/suede.jpg?asset_cache_version=2) repeat-y;
    background-size: 101% 101%;
    background-position: center;
} */

.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabContentContainer {
    background: var(--mhdm-tertiaryDark);
    border: 0;
    box-shadow: none;
    position: relative;
}

.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabContent[data-tab=journal] {
    background: transparent;
}

.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabHeader span {
    background: var(--mhdm-dark4);
    color: var(--mhdm-white);
    border: none;
    box-shadow: none;
    opacity: 0.9;
}


.pageFrameView #mousehuntContainer.PageCamp .campPage-tabs-tabHeader.active span {
    background: var(--mhdm-tertiaryDark);
    opacity: 1;
}

.pageFrameView #mousehuntContainer.PageCamp .journal-detailLinkContainer * {
    color: var(--mhdm-blue);
}

/* adventure book */

.pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner-adventureName,
.pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner-goalPadding {
    background-color: var(--mhdm-lbrown);
}

.pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner {
    position: relative;
}

.pageFrameView #mousehuntContainer.PageCamp .adventureBookBanner::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--mhdm-dimming-filter);
    pointer-events: none;
    z-index: 2;
}

/* journal */

.pageFrameView #mousehuntContainer.PageCamp .journal {
    position: relative
}

.pageFrameView #mousehuntContainer.PageCamp .journal::before,
.pageFrameView #mousehuntContainer.PageJournal .journal::before {
    /* dimming filter on journal */
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--mhdm-dimming-filter);
    pointer-events: none;
    z-index: 2;
}

.pageFrameView #mousehuntContainer.PageCamp .journal .content .journalbody .journaltext {
    font-size: 12px;
    font-weight: normal;
}

/* fix transparent journal content bg for some themes with white child element */
.pageFrameView #mousehuntContainer.PageCamp .journal .content .journalEntries,
.pageFrameView #mousehuntContainer.PageJournal .journal .content .journalEntries {
    background: var(--mhdm-journal-bg)
}

/* .pageFrameView #mousehuntContainer.PageCamp .journal .content .catchfailure {
    background: url('https://www.mousehuntgame.com/images/ui/journal/steal.gif?asset_cache_version=2') no-repeat 8px 8px;
}

.pageFrameView #mousehuntContainer.PageCamp .journal .content .catchfailuredamage {
    background: #b97979 url('https://www.mousehuntgame.com/images/ui/journal/pillage.gif?asset_cache_version=2') no-repeat 8px 8px;
}

.pageFrameView #mousehuntContainer.PageCamp .journal .content .catchsuccess {
    background-color: #f5f59d;
}

.pageFrameView #mousehuntContainer.PageCamp .journal .content .catchsuccessloot {
    background-color: #e2d880;
} */